@import '../../common/sass/variables';
.title {
  h2 {
    font-family: 'Poppins', sans-serif;
    color:$textColorTitle;
    text-transform: uppercase;
    margin: 30px 0;

    span {
      color: $colorBtnAndTitle;
    }
  }
}