.mainBlock {
    background-color: #222;
    min-height: 60vh;
    padding: 30px 0;
}
.wrapper{
    margin-top: 70px;
}

.description {
    width: 300px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:#a2a2a2
}

.name span {
    color: #fa5b0f;
}
.react{
    font-size: 18px;
    text-transform: uppercase;
    color:#a2a2a2;
    margin-bottom: 25px;

}
.react span{
    /*color: #fff;*/
    color: #fa5b0f;

}


.avatar img {
    background-color: darkgray;
    width: 200px;
    height: 200px;
    border-radius:50%;
    /*border-radius:50px;*/
}
.btnMore{
    width: 165px;
    height: 41px;
    border-radius: 50px;
    text-align: center;
    background: #fa5b0f;
    padding: 8px 40px;
    border: none;
    color: #fff;
    font-size: 15px;
    transition: all .6s ease;
    cursor: pointer;
}


.btnMore:hover{
    background: #fff;
    color:#000
}

@media screen and (max-width: 360px) and (max-width: 760px) {
    .mainBlock {
        height: 440px;
    }
    .wrapper{
        margin-top: 10px;
    }
}
