.skillsBlock{
    background-color: #000;
    /*height: 100vh;*/
}
.skillsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.skillsItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.title h2{
    font-family: 'Poppins', sans-serif;
    color: #a2a2a2;
    text-transform: uppercase;
}
.title h2 span{
    color:#fa5b0f;
}
@media screen and (max-width: 360px){
    .skillsItems{
        flex-direction: column;
    }
}