@import '../../common/sass/variables';
.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: $colorHeaderBg;

  .headerContainer {
    align-items: center;
    border: none;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin: 0 auto;
    width: 70%;
    @media screen and (max-width: 717px) {
      justify-content: center;
    }

  }
}
