
.skillItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    background-color: white;
    width: 25%;
    margin-bottom: 5px;
    padding: 5px;
}
.photo{
    width: 100px;
    height: 50px;
    background-color: darkgray;
}
@media screen and (max-width:650px) {
    .photo{
        width: 50px;
        height: 50px;

    }
}
@media screen and (max-width: 360px){
    .skillItem{
        width: 75%;
    }
}