.app{
    margin: 0 auto;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.h1{
    font-size: 14px;
}
a{
    text-decoration: none;
}
h2{
    background-color:#a9a9a9;
    margin: 15px 0;
}