.contactsBlock {
    background-color: burlywood;
    height: 500px;

}

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contactsWrapperForm {
    width: 70%;
    height: 50%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contactsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;



}

.contactsTextarea {
    background-color: dimgray;
    resize: none;
    margin-bottom: 5px;
    padding: 5px;
    width: 200px;
    border: none;
}

.contactsForm input {
    margin-bottom: 5px;
    background-color: dimgray;
    border: none;
    padding: 5px;
    width: 200px;
    height: 20px;
}

.contactsWrapperForm button {

    width: 100%;
    height: 30px;
    background-color: dimgray;
    border: none;
    cursor: pointer;

}

@media screen and (max-width: 435px){
    .contactsTextarea{
        width: 80px;
    }
    .contactsForm input{
        width: 80px;
        height: 10px;
    }

}
@media screen and (max-width: 360px){

    .contactsBlock{
        height: 300px;
    }
}